<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     class="movie">

    <a href="${tg.url('/remove/%s' % movie.id)}" class="removefromlist">[remove from list]</a>    
    <h2>${movie.title}</h2> 

    <div py:if="movie.cover is not None" class="moviecover">
        <img src="${tg.url('/movie_cover/%s' % movie.id)}" />
    </div>    
    
    <dl>
        <dt>${_('Year')}</dt> <dd>${movie.year}</dd>

        <dt>${_('Director(s)')}</dt>
        <dd>
            <ul>
                <li py:for="director in movie.directors">
                    ${director.name}
                </li>
            </ul>
        </dd>
        
        <dt>${_('Writer(s)')}</dt>
        <dd>
            <ul>
                <li py:for="writer in movie.writers">
                    ${writer.name}
                </li>
            </ul>
        </dd>
        
        <dt>${_('Cast')}</dt>
        <dd>
            <ul class="castlist">
                <li py:for="c in movie.cast[:5]">
                    <span class="person"><a href="${c.person.imdb_url}">${c.person.name}</a></span> <span class="character">${c.character}</span>
                </li>
                <li py:for="c in movie.cast[5:]" style="display: none;">
                    <span class="person"><a href="${c.person.imdb_url}">${c.person.name}</a></span> <span class="character">${c.character}</span>
                </li>
                <li py:if="len(movie.cast) > 5" class="morecast">
                    <a href="#" onclick="expand_movie_cast(this); return false;">...more</a>
                </li>
            </ul>
        </dd>
        <dt>IMDB link</dt>
        <dd><a href="${movie.imdb_url}" class="imdblink">${movie.imdb_url}</a></dd>            

    </dl>
    
</div>
